
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Purchased Items</title>
  </head>
  <body>
    <h1>Item</h1>

    <ol>
        <li>
            <p>{{purchaseditem.item_bought}}</p>
            <p>{{purchaseditem.brand}}</p>
            <p>{{purchaseditem.size}}</p>
            <p>{{purchaseditem.price}}</p>
            <p>{{purchaseditem.cleaning_methods}}</p>
            <p>{{purchaseditem.notes}}</p>
            <p>{{purchaseditem.store.name}}</p>
        </li>
    </ol>
  </body>
</html>