{% extends 'shared/base.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/purchased_item.css' %}" />
{% endblock %}

   {% block title %}
            Purchased Items
   {% endblock %}
    

{% block content %}
    <h1 class="items">Item</h1>
     <section>
      <form style="text-align: center;" action="{% url 'suitupapp:purchaseditem' purchaseditem.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
      </form>

      <form style="text-align: center;" action="{% url 'suitupapp:purchaseditem_edit_form' purchaseditem.id %}" method="GET">
              {% csrf_token %}
              <button>Edit</button>
      </form>
    </section>

    <ul class="items">
        <li class="item">
            <p class="item__name"><b>Item:</b> {{purchaseditem.item_bought}}</p>
            <p class="item__description"><b>Brand:</b> {{purchaseditem.brand}}</p>
            <p class="item__description"><b>Size:</b> {{purchaseditem.size}}</p>
            <p class="item__description"><b>Price:</b> {{purchaseditem.price}}</p>
            <p class="item__description"><b>Cleaning:</b> {{purchaseditem.cleaning_methods}}</p>
            <p class="item__description"><b>Notes:</b> {{purchaseditem.notes}}</p>
            <p class="item__description"><b>Store:</b> {{purchaseditem.store.name}}</p>
        </li>
    </ul>
    {% comment %} <section>
      <form action="{% url 'suitupapp:purchaseditem' purchaseditem.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
      </form>

      <form action="{% url 'suitupapp:purchaseditem_edit_form' purchaseditem.id %}" method="GET">
              {% csrf_token %}
              <button>Edit</button>
      </form>
    </section> {% endcomment %}
{% endblock %}