
{% extends 'shared/base.html' %}

   {% block title %}
            Purchased Items
   {% endblock %}


{% block content %}
    <h1>Item</h1>

    <ul>
        <li>
            <p><b>Item:</b> {{purchaseditem.item_bought}}</p>
            <p><b>Brand:</b> {{purchaseditem.brand}}</p>
            <p><b>Size:</b> {{purchaseditem.size}}</p>
            <p><b>Price:</b> {{purchaseditem.price}}</p>
            <p><b>Cleaning:</b> {{purchaseditem.cleaning_methods}}</p>
            <p><b>Notes:</b> {{purchaseditem.notes}}</p>
            <p><b>Store:</b> {{purchaseditem.store.name}}</p>
        </li>
    </ul>
    <section>
      <form action="{% url 'suitupapp:purchaseditem' purchaseditem.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
      </form>

      <form action="{% url 'suitupapp:purchased_item_edit_form' purchaseditem.id %}" method="GET">
              {% csrf_token %}
              <button>Edit</button>
      </form>
    </section>
{% endblock %}