{% extends 'shared/base.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/purchased_item.css' %}" />
{% endblock %}

   {% block title %}
            Purchased Items
   {% endblock %}
    

{% block content %}

    <fieldset>
        <label class="items" for="store">Sort by store</label>
        <div><select id="store" type="text" name="store"></div>
        <option value="" selected="selected">Select Store</option>
            {% for store in all_stores %}
                <option {% if store.id == location_id %}selected{% endif %} value="{{store.id}}">{{ store.name }}</option>
            {% endfor %}
        </select>
    </fieldset>

    <h1 class="items">Items</h1>

    <a class="items" href="{% url 'suitupapp:purchaseditemform' %}">Add Item</a>

    <ol class="items">
    {% for item in all_items %}
        <li class="item">
            <p class="item__name"><b>Item:</b> <a href="{% url 'suitupapp:purchaseditem' item.id %}">{{item.item_bought}}</a></p>
            <p class="item__description"><b>Brand:</b> {{item.brand}}</p>
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/purchased_item.js' %}"></script>
{% endblock %}