.guides {
    /* list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    /* background-color: gray; */
    color: white;
    /* width: 50%; */
    text-align: center !important;
}

.guide {
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    margin: 1em;
    padding: 1.5em;
    text-align: left;
    background-color: gray;
    color: black;
    width: 50%;
    margin-left: 260px;
}

.guide__name {
    font-size: 1.1em;
}

.guide__description {
    font-size: 0.75em;
}

.link__list{
    flex-basis: 20%;
    padding: 0 2em 0.5em 2em;
    border: none;
    margin: 1em;
    padding: 1.5em;
    list-style-type: none;
}

.links {
    text-align: center;
}
