{% extends 'shared/base.html' %}
{% load static%}


{% block css %}
    <link rel="stylesheet" href="{% static 'styles/guide.css' %}" />
{% endblock %}


{% block content %}

    <h1 class="guides">Guide</h1>
    <h2 class="guides">Basic Rules to Know</h2>
    <h3 class="guides">Ties</h3>
      <ul class="guide">
        <li class="guide__description">Tie should end at or just above your belt/buckle</li>
        <li class="guide__description">Tie knot should not be too big or too small,
         use a Windsor or pratt for best results.  If the knot is too big, it’s a sign of a short tie</li>
        <li class="guide__description">Tie should be darker than your shirt. 
         Not a deal breaker, but when done correctly, looks good</li>
        <li class="guide__description">Tie width should match lapel width</li>
       </ul>
    <h3 class="guides">Shirts</h3>
        <ul class="guide">
          <li class="guide__description">Always button the top button on a shirt</li>
          <li class="guide__description">Shirt cuffs should not go over hands, should rest where thumb starts </li>
          <li class="guide__description">When cuff buttoned, can’t get finger between wrist and cuff</li>
          <li class="guide__description">If going tieless, shirt collar on smaller side</li>
        </ul>
    <h3 class="guides">Vests/Waistcoats</h3>
        <ul class="guide">
          <li class="guide__description">If wearing  vest, always keep bottom button buttoned</li>
          <li class="guide__description">If wearing  three piece suit, waist coat should finish at or barely </li>
          <li class="guide__description">Bottom button of vest must always be unbuttoned</li>
        </ul>
    <h3 class="guides">Jackets</h3>
        <ul class="guide">
          <li class="guide__description">Never button bottom button on  jacket</li>
          <li class="guide__description">No gap between collar shirt and jacket collar </li>
          <li class="guide__description">No gap between collar shirt and jacket collar </li>
          <li class="guide__description">Sleeves should be half an inch shorter than shirt sleeves</li>
          <li class="guide__description">Never remove stitching of jacket pockets and never use pockets,
           can be stretched out, warping suit</li>
          <li class="guide__description">Suit jacket should be just long enough to cover zipper and butt</li>
          <li class="guide__description">Top button of a two-button, or the middle button of a three-button 
           jacket should fall at or above navel</li>
          <li class="guide__description">If going for formal business attire, choose a double-button, notched-lapel jacket</li>
          <li class="guide__description">For more casual, trendy look, choose a single-button, peak-lapel jacket</li>
          <li class="guide__description">Should be able to slip hand between chest and buttoned jacket and it feel snug, with room to move</li>
          <li class="guide__description">Always unbutton before sitting down </li>
          <li class="guide__description">Always remove stitching on vents(flaps on back of jacket) and remove label on left sleeve</li>
          <li class="guide__description">Double vents in back are more modern and fashionable</li>
          <li class="guide__description">Thin lapels more modern, wider more old fashioned</li>
        </ul>
    <h3 class="guides">Pants</h3>
        <ul class="guide">
          <li class="guide__description">Trousers should sit on tops of shoes.  Should not be long enough to bunch or short enough to see socks</li>
        </ul>
    <h3 class="guides">Shoes</h3>
        <ul class="guide">
          <li class="guide__description">Shoes should compliment your suit.  No brown shoes with black suit or vice versa</li>
        </ul>
    <h3 class="guides">Socks</h3>
        <ul class="guide">
          <li class="guide__description">Socks should cover your legs when sitting down</li>
          <li class="guide__description">Socks cannot be white</li>
        </ul>
    <h3 class="guides">Belts/Suspenders</h3>
        <ul class="guide">
          <li class="guide__description">Belt should match shoes, leather strap on watch should also match if wearing one</li>
          <li class="guide__description">If wearing suspenders, don’t wear belt</li>
        </ul>
    <h3 class="guides">Accesories</h3>
        <ul class="guide">
          <li class="guide__description">Pocket Square adds polished look, but can’t match tie in either pattern or fabric</li>
          <li class="guide__description">Don’t over-accessorize. If already wearing a pocket square and a tie bar, don’t wear lapel pin</li>
          <li class="guide__description">If wearing a dark suit, a well-ironed, light pocket square is advised and vice-versa</li>
          <li class="guide__description">Never pair sports watch with suit</li>
          <li class="guide__description">Overcoats accentuate the corporate look</li>
          <li class="guide__description">Tie-bar width should not be more than the tie</li>
        </ul>
    <h3 class="guides">General Rules</h3>
        <ul class="guide">
          <li class="guide__description">Choose a charcoal or gray suit over black, unless attending a funeral
           or other equally conservative event</li>
          <li class="guide__description">All-Season dark is the all-purpose suit to wear to weddings, funerals, job interviews, 
           and everything in-between. Dark charcoal or navy, not black. Black suits look stark in daylight and 
           are generally reserved for service staff uniforms. Keep two button, notch lapel. 
           Solid fabric will make it versatile, for pairing with almost any shirt or tie. </li>
          <li class="guide__description">Navy blazer not a suit exactly, but can be used for less than full suit situations. 
           Good when formality is unclear or for want to level above casual wear. 
           Wear with jeans or best wool trousers. Throw on a tie or not.</li>
          <li class="guide__description">Summer suit good if the situation calls for suit but want to be more playful and fun. 
           Choose a lighter color, even tan in a summer fabric like seersucker, 
           cotton or a light wool can still feel more seasonally appropriate.</li>
        </ul>
    <h3 class="guides">Shopping Tips</h3>
        <ul class="guide">
          <li class="guide__description">Choose fabric according to how often worn. The most versatile option is a soft, but durable wool.</li>
          <li class="guide__description">When buying off-the-rack suit, number one thing is how the shoulders fit.</li>
        </ul>
    <h3 class="guides">Links/Resources</h3>
        <ul class="link__list">
          <li class="links" class="guide__description"><a href= https://www.scoopwhoop.com/suit-tips-and-rules-for-men/>//www.scoopwhoop.com/suit</a></li>
          <li class="links" class="guide__description"><a href= https://www.themanual.com/fashion/unspoken-suit-rules-need-know/>//www.themanual.com/fashion/unspoken</a></li>
          <li class="links" class="guide__description"><a href= https://www.collegetimes.com/life101/13-cardinal-rules-wearing-suit-80792>//www.collegetimes.com/life101/13</a></li>
        </ul>
    <h3 class="guides">How-To Videos</h3>
        <ul class="link__list">
          <li class="links" class="guide__description"><a href= https://www.youtube.com/watch?v=kDffYYK-r1M>Pressing Jackets</a></li>
          <li class="links" class="guide__description"><a href= https://www.youtube.com/watch?v=aBuSZYws_Dg>Pressing a Shirt</a></li>
          <li class="links" class="guide__description"><a href =https://www.youtube.com/watch?v=PSMf1uZ_n2o>Pressing Trousers</a></li>
          <li class="links" class="guide__description"><a href =https://www.youtube.com/watch?v=T0NPYZyI7V8>Tying a Windsor Knot</a></li>
          <li class="links" class="guide__description"><a href =https://www.youtube.com/watch?v=fCmCf86pbV8>Tying a Pratt Knot</a></li>
          <li class="links" class="guide__description"><a href =https://www.youtube.com/watch?v=84o3lqMi6sI>Additional Knots</a></li>
          <li class="links" class="guide__description"><a href =https://www.youtube.com/watch?v=EKqacIYn30U>How a Suit Should Fit</a></li>
        </ul>


{% endblock %}