{% extends 'shared/base.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/store.css' %}" />
{% endblock %}

{% block content %}
    <h1 class="stores">Store</h1>

        <form style="text-align: center;" action="{% url 'suitupapp:store' store.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button class="store__buttons">Delete</button>
        </form>

        <form style="text-align: center;" action="{% url 'suitupapp:store_edit_form' store.id %}" method="GET">
                {% csrf_token %}
                <button class="store__buttons">Edit</button>
        </form>

    <ul class="stores">
        <li class="store">
            <p class="item__name"><b>Name:</b> {{store.name}}</p>
            <p class="item__description"><b>Location:</b> {{store.location}}</p>
            <p class="item__description"><b>Brands Available:</b> {{store.brands_available}}</p>
            <p class="item__description"><b>Notes:</b> {{store.notes}}</p>
        </li>
    </ul>

{% endblock %}