{% extends 'shared/base.html' %}

{% block content %}
    <h1>Store</h1>

    <ul>
        <li>
            <p><b>Name:</b> {{store.name}}</p>
            <p><b>Location:</b> {{store.location}}</p>
            <p><b>Brands Available:</b> {{store.brands_available}}</p>
            <p><b>Notes:</b> {{store.notes}}</p>
        </li>
    </ul>

    <section>
    <form action="{% url 'suitupapp:store' store.id %}" method="POST">
      {% csrf_token %}
      <input type="hidden" name="actual_method" value="DELETE">
      <button>Delete</button>
    </form>

    <form action="{% url 'suitupapp:store_edit_form' store.id %}" method="GET">
              {% csrf_token %}
              <button>Edit</button>
    </section>

{% endblock %}