{% extends 'shared/base.html' %}
{% load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/store.css' %}" />
{% endblock %}

   {% block title %}
            Stores
   {% endblock %}
    

{% block content %}
    <h1>Stores</h1>
    <a href="{% url 'suitupapp:store_form' %}">Add Store</a>

    <ol class="stores">
    {% for store in all_stores %}
        <li class="store">
            <p class="store__name"><b>Name:</b> <a href="{% url 'suitupapp:store' store.id %}">{{store.name}}</a></p>
            <p class="store__description"><b>Location:</b> {{store.location}}</p>
        </li>
    {% endfor %}
    </ol>
{% endblock %}